* {

	margin: 0;
	padding: 0;

}


body {

	background-color: black;


}


#MM {
	margin: auto;
	width: 400px;
	border: 6px solid white;
	border-radius: 9px;


}

#Window {
	margin: auto;
	width: 400px;
	border-bottom: 4px solid white;
	display:inline-flex;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-top: 12px;



}


#ball {

	display: inline-block;
	margin-left: 5px;
	border: 2px solid white;
	padding: 10px;
	border-radius: 12px;


}

#bolletje {
	display: inline-block;
	border: 2px solid white;
	padding: 6px;
	border-radius: 12px;
	margin-left: 5px;
	



}


#Bolvenster {
	display: inline-block;
	margin-left: 175px;




}